<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #registerSlides>
    <ion-slide ion-align-items-start>
      <form #accountform="ngForm">
        <ion-list>
          <ion-item>
            <ion-label slot="start" position="fixed">邮箱/手机</ion-label>
            <ion-input name="account" type="text" placeholder="请输入邮箱/手机号码" inputmode="text" clear-input="true" required  [(ngModel)]="account" #identifier="ngModel"></ion-input>  
          </ion-item>
          <div class="padding-horizontal">
            <ion-button expand="full" color="primary" (click)="onCheckIdentifier()">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide>

    <ion-slide>
      <form class="full-width" (ngSubmit)="onSubmitCode(codeForm)" #codeForm="ngForm">
        <ion-list lines="full">
          <ion-item>
            <ion-input name="code" type="number" placeholder="输入验证码" [(ngModel)]="codemessage.code" #code="ngModel"></ion-input>
          </ion-item>
        </ion-list>
        <div class="margin-top">
          <ion-button expand="full" color="primary" (click)="onSendCode()"[disabled]="codemessage.flag">{{codemessage.content}}</ion-button>
        </div>
        <div class="padding-horizontal">
          <ion-button type="submit" expand="full" color="primary" [disabled]="codeForm.invalid">下一步</ion-button>
        </div>
      </form>
    </ion-slide>
    <!-- <ion-slide>
      <form class="full-width" (ngSubmit)="onSubmitAccount(accountForm)" #accountForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-label slot="start" position="fixed">密码</ion-label>
            <ion-input name="password" type="password" placeholder="请输入密码" inputmode="password" clear-input="true" [(ngModel)]="signup.password" #password="ngModel" (ionBlur)="vaildPassport($event)"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!passwordFlag">
            <p class="padding-start">请输入6~16位密码，包含数字、英文、字符至少两种</p>
          </ion-text>
          <ion-item>
            <ion-label slot="start" position="fixed"></ion-label>
            <ion-input name="confirmPassword" type="password" placeholder="请再次输入密码" inputmode="password" clear-input="true" [(ngModel)]="signup.confirmPassword" #confirmPassword="ngModel" (ionBlur)="validConfirmPassword(event)"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!confirmPasswordFlag">
            <p class="padding-start">请再次确认密码是否一致</p>
          </ion-text>
          <div class="padding-horizontal">
            <ion-button type="submit" expand="full" color="primary" [disabled]="accountForm.invalid">下一步</ion-button>
          </div>
        </ion-list>
      </form>
    </ion-slide> -->
    <ion-slide>
      <div style="width: 100%">
        <form (ngSubmit)="onInputMes($event)" #MesForm="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-input type="password" name="password" (ionBlur)="checkPassword($event)" placeholder="请输入登录密码"
                [(ngModel)]="pwd" #password="ngModel" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" text-left *ngIf="passwordOk == false">
              <p *ngIf="passwordOk == false">请输入6~16位密码，包含数字、英文、字符至少两种</p>
            </ion-text>

            <ion-item>
              <ion-input type="password" name="confirmPassword" (ionBlur)="checkConfirmPassword($event)"
                placeholder="请输入确认密码" [(ngModel)]="confirmpwd" #confirmPassword="ngModel" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" text-left *ngIf="confirmPasswordOk == false">
              <p *ngIf="confirmPasswordOk == false">请保持密码一致</p>
            </ion-text>
            <div padding-horizontal>
              <ion-button type="submit" expand="full" color="primary" [disabled]="MesForm.invalid">下一步
              </ion-button>
            </div>
          </ion-list>
        </form>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
